body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.productos {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.producto {
    background-color: white;
    padding: 15px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.producto img {
    width: 150px;
    height: 150px;
}

button {
    background-color: #98af9e;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}